.formacao {
  background: #141414;
  color: #ffffff;
}
.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

/* detalhe que fica por cima da sessão formação e footer
como é um detalhe posicionado acima de outros elementos ele sempre será
position absolute em um pseudo elemento  */

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  /* esse botton tem a metadade da altura(height) */
  bottom: -50px;
  left: 20px;
}

.formacao .subtitulo {
  color: #000000;
  /* aqui precisou mudar porque o 4ch não funcionou aqui
  mas gerou um problema no responsivo 
  que vai ser ajustado em golobal no max width initial coloca !important */
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  /* mesmo que aumente a tela o texto vai se manter  em 40 caretres*/
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  /* flex 1 ajusta todos os quadradinhos para que tenham o mesmo tamanho
  e fique um do lado do outro */
  flex: 1;
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  /* assim consigo aplicar margin botton e consigo fazer o macetinho */
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  /* não aplicou de primeiro porque é um span
  precisa modificar eles para display flex na classe .faculdade 
  e define como flex-direction column */
  margin-bottom: 10px;
}

.faculdade-curso {
  /* esse é o macetinho que utiliza bem o display flex e o flex direction de .faculdade
    assim tudo vai crecer o quanto der e todos ficam alinhadinhos e flexiveis na responsividade */
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  /* para poder criar o detalhe em verde */
  position: relative;
}

/* copia o elemente de experiencia */
.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  /* aqui é a soma dos valores padding -20 + -4 valor do item 
  assim ele vai pro lado e fica alinhadinho */
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  /* vai servir para colocar o icone certinho */
  position: relative;
}

/* aqui vamos colocar os icones */
.formacao-extra h3::before {
  display: block;
  content: "";
  /* esse tamanho está seguindo o tamanho exato do icone
  isso é informado lá no arquivo .svg do icone, na primeira linha */
  width: 24px;
  height: 24px;
  /* colocar fora do fluxo */
  position: absolute;
  /* aqui ele fez 24+12 para chegar nesse valor especifico */
  left: -36px;
  top: -4px;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

/* responsivo */

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo {
    color: #ffffff;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }

  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
